<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rstp_viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <rstp_viewer.Properties.Settings>
            <setting name="RtspCam1" serializeAs="String">
                <value>rtsp://javier:L0garitm0271@10.92.117.253:554/live/stream1</value>
            </setting>
            <setting name="RtspCam2" serializeAs="String">
                <value />
            </setting>
            <setting name="RtspCam3" serializeAs="String">
                <value />
            </setting>
            <setting name="RtspCam4" serializeAs="String">
                <value />
            </setting>
        </rstp_viewer.Properties.Settings>
    </userSettings>
</configuration>